Dictionary
date  date of the match 

home_team  the name of the home team 

away_team  the name of the away team 

home_score  full-time home team score including extra time, not including penalty-shootouts 

away_score  full-time away team score including extra time, not including penalty-shootouts 

tournament  the name of the tournament 

city  the name of the city/town/administrative unit where the match was played 

country  the name of the country where the match was played 

neutral  TRUE/FALSE column indicating whether the match was played at a neutral venue

In [67]:
import pandas as pd
import re 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [3]:
input_fn = 'football_data.csv'

In [18]:
data = pd.read_csv(input_fn, sep='\t')
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
42364,27/06/2021,Venezuela,Peru,NaN,NaN,Copa Am√©rica,Brasilia,Brazil,True
42365,27/06/2021,El Salvador,Guatemala,NaN,NaN,Friendly,NaN,NaN,NaN
42366,28/06/2021,Argentina,Bolivia,NaN,NaN,Copa Am√©rica,Cuiaba,Brazil,True
42367,28/06/2021,Uruguay,Paraguay,NaN,NaN,Copa Am√©rica,Rio de Janeiro,Brazil,True
42368,30/06/2021,Mexico,Panama,NaN,NaN,Friendly,Nashville,United States,True

In [13]:
# split_datetime = re.split('-','1872-11-30')

In [19]:
def correct_date(value):
    split_datetime = re.split('-',value)
    if len(split_datetime) == 3: 
        yyyy, mm, dd  = split_datetime
        return '{0}/{1}/{2}'.format(dd, mm, yyyy)
    else:
        return value

In [20]:
data.date = data.date.apply(correct_date)
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,30/11/1872,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,08/03/1873,England,Scotland,4.0,2.0,Friendly,London,England,False
2,07/03/1874,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,06/03/1875,England,Scotland,2.0,2.0,Friendly,London,England,False
4,04/03/1876,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
42364,27/06/2021,Venezuela,Peru,NaN,NaN,Copa Am√©rica,Brasilia,Brazil,True
42365,27/06/2021,El Salvador,Guatemala,NaN,NaN,Friendly,NaN,NaN,NaN
42366,28/06/2021,Argentina,Bolivia,NaN,NaN,Copa Am√©rica,Cuiaba,Brazil,True
42367,28/06/2021,Uruguay,Paraguay,NaN,NaN,Copa Am√©rica,Rio de Janeiro,Brazil,True
42368,30/06/2021,Mexico,Panama,NaN,NaN,Friendly,Nashville,United States,True

In [24]:
print(len(data.home_team.unique()))
print(len(data.away_team.unique()))
print(len(data.home_score.unique()))
print(len(data.away_score.unique()))
print(len(data.tournament.unique()))
print('away_team',len(data.away_team.unique()))
print('city', len(data.city.unique()))
print(len(data.country.unique()))

309
306
27
23
112
306
2051
267

In [25]:
data.describe()

         home_score    away_score
count  42353.000000  42353.000000
mean       1.744245      1.185843
std        1.753657      1.404751
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

## Question 1:

Analysis the performance of England & Canada team by historical Football Results (See Dataset)

In [39]:
shorlisted = ['England']
performance_shortlisted = data[data.home_team.isin(shorlisted) | data.away_team.isin(shorlisted)]
performance_shortlisted

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,30/11/1872,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,08/03/1873,England,Scotland,4.0,2.0,Friendly,London,England,False
2,07/03/1874,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,06/03/1875,England,Scotland,2.0,2.0,Friendly,London,England,False
4,04/03/1876,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
42129,02/06/2021,England,Austria,1.0,0.0,Friendly,London,England,False
42203,06/06/2021,England,Romania,1.0,0.0,Friendly,London,England,False
42296,13/06/2021,England,Croatia,1.0,0.0,UEFA Euro,London,England,False
42336,18/06/2021,England,Scotland,0.0,0.0,UEFA Euro,London,England,False
42354,22/06/2021,England,Czech Republic,NaN,NaN,UEFA Euro,London,England,False

In [40]:
performance_shortlisted['England_res'] = 'Draw'

/var/folders/vg/5bs8jwp12m5fw8pn1np6jb6m0000gr/T/ipykernel_90292/2378765378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_shortlisted['England_res'] = 'Draw'

In [48]:
performance_shortlisted.loc[(performance_shortlisted.home_team=='England') &  (performance_shortlisted.home_score > performance_shortlisted.away_score), 'England_res'] = 'Won'
performance_shortlisted.loc[(performance_shortlisted.home_team=='England') &  (performance_shortlisted.home_score < performance_shortlisted.away_score), 'England_res'] = 'Lost'

performance_shortlisted.England_res.unique()

array(['Draw', 'Won', 'Lost'], dtype=object)

In [30]:
performance_shortlisted.tournament.unique()

array(['Friendly', 'British Championship', 'FIFA World Cup qualification',
       'FIFA World Cup', 'UEFA Euro qualification', 'UEFA Euro',
       'Rous Cup', 'USA Cup', 'Tournoi de France',
       'King Hassan II Tournament', 'UEFA Nations League'], dtype=object)

In [64]:
performance_by_tournament = performance_shortlisted.groupby(['tournament','England_res']).size()
performance_by_tournament = performance_by_tournament.reset_index()
performance_by_tournament['Res_Percent'] = performance_by_tournament.groupby('tournament')[0].transform(lambda x: x/sum(x))

In [75]:
performance_by_tournament

                      tournament England_res    0  Res_Percent
0           British Championship        Draw  147     0.578740
1           British Championship        Lost   23     0.090551
2           British Championship         Won   84     0.330709
3                 FIFA World Cup        Draw   42     0.608696
4                 FIFA World Cup        Lost    9     0.130435
5                 FIFA World Cup         Won   18     0.260870
6   FIFA World Cup qualification        Draw   68     0.591304
7   FIFA World Cup qualification        Lost    2     0.017391
8   FIFA World Cup qualification         Won   45     0.391304
9                       Friendly        Draw  269     0.638955
10                      Friendly        Lost   32     0.076010
11                      Friendly         Won  120     0.285036
12     King Hassan II Tournament        Draw    2     1.000000
13                      Rous Cup        Draw    6     0.750000
14                      Rous Cup         Won    2     0.250000
15             Tournoi de France        Draw    1     0.333333
16             Tournoi de France        Lost    1     0.333333
17             Tournoi de France         Won    1     0.333333
18                     UEFA Euro        Draw   21     0.617647
19                     UEFA Euro        Lost    6     0.176471
20                     UEFA Euro         Won    7     0.205882
21       UEFA Euro qualification        Draw   65     0.601852
22       UEFA Euro qualification        Lost    5     0.046296
23       UEFA Euro qualification         Won   38     0.351852
24           UEFA Nations League        Draw    6     0.500000
25           UEFA Nations League        Lost    3     0.250000
26           UEFA Nations League         Won    3     0.250000
27                       USA Cup        Draw    2     0.666667
28                       USA Cup        Lost    1     0.333333

In [77]:
performance_by_tournament.groupby(['tournament', 'England_res'])

In [63]:
147 / (147+23+84)

0.5787401574803149

In [62]:
# performance_shortlisted
performance_by_tournament

                      tournament England_res    0  Res_Percent
0           British Championship        Draw  147     0.578740
1           British Championship        Lost   23     0.090551
2           British Championship         Won   84     0.330709
3                 FIFA World Cup        Draw   42     0.608696
4                 FIFA World Cup        Lost    9     0.130435
5                 FIFA World Cup         Won   18     0.260870
6   FIFA World Cup qualification        Draw   68     0.591304
7   FIFA World Cup qualification        Lost    2     0.017391
8   FIFA World Cup qualification         Won   45     0.391304
9                       Friendly        Draw  269     0.638955
10                      Friendly        Lost   32     0.076010
11                      Friendly         Won  120     0.285036
12     King Hassan II Tournament        Draw    2     1.000000
13                      Rous Cup        Draw    6     0.750000
14                      Rous Cup         Won    2     0.250000
15             Tournoi de France        Draw    1     0.333333
16             Tournoi de France        Lost    1     0.333333
17             Tournoi de France         Won    1     0.333333
18                     UEFA Euro        Draw   21     0.617647
19                     UEFA Euro        Lost    6     0.176471
20                     UEFA Euro         Won    7     0.205882
21       UEFA Euro qualification        Draw   65     0.601852
22       UEFA Euro qualification        Lost    5     0.046296
23       UEFA Euro qualification         Won   38     0.351852
24           UEFA Nations League        Draw    6     0.500000
25           UEFA Nations League        Lost    3     0.250000
26           UEFA Nations League         Won    3     0.250000
27                       USA Cup        Draw    2     0.666667
28                       USA Cup        Lost    1     0.333333

In [57]:
 / performance_shortlisted.groupby('tournament').size()

tournament
British Championship            254
FIFA World Cup                   69
FIFA World Cup qualification    115
Friendly                        421
King Hassan II Tournament         2
Rous Cup                          8
Tournoi de France                 3
UEFA Euro                        34
UEFA Euro qualification         108
UEFA Nations League              12
USA Cup                           3
dtype: int64

## Question 2:

What is the probability of of match result England 2 - 1 Canada in 30 Dec 2021?