Dictionary
date  date of the match 

home_team  the name of the home team 

away_team  the name of the away team 

home_score  full-time home team score including extra time, not including penalty-shootouts 

away_score  full-time away team score including extra time, not including penalty-shootouts 

tournament  the name of the tournament 

city  the name of the city/town/administrative unit where the match was played 

country  the name of the country where the match was played 

neutral  TRUE/FALSE column indicating whether the match was played at a neutral venue

In [6]:
import pandas as pd
import re 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from typing import Optional, Union, Mapping

In [7]:
input_fn = 'football_data.csv'
VALID_DATE_OPTIONS = {'day', 'month', 'year'}

In [4]:
data = pd.read_csv(input_fn, sep='\t')
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
42364,27/06/2021,Venezuela,Peru,NaN,NaN,Copa Am√©rica,Brasilia,Brazil,True
42365,27/06/2021,El Salvador,Guatemala,NaN,NaN,Friendly,NaN,NaN,NaN
42366,28/06/2021,Argentina,Bolivia,NaN,NaN,Copa Am√©rica,Cuiaba,Brazil,True
42367,28/06/2021,Uruguay,Paraguay,NaN,NaN,Copa Am√©rica,Rio de Janeiro,Brazil,True
42368,30/06/2021,Mexico,Panama,NaN,NaN,Friendly,Nashville,United States,True

In [13]:
# split_datetime = re.split('-','1872-11-30')

In [5]:
def correct_date(value):
    split_datetime = re.split('-',value)
    if len(split_datetime) == 3: 
        yyyy, mm, dd  = split_datetime
        return '{0}/{1}/{2}'.format(dd, mm, yyyy)
    else:
        return value

In [9]:
def set_year(value, option:str='year'):
    split_datetime = re.split('/',value)
    if option not in VALID_DATE_OPTIONS:
        raise ValueError("option must be of type" % VALID_DATE_OPTIONS)
    dd, mm, yyyy  = split_datetime
    if option == 'year': 
        return yyyy
    elif option == 'month':
        return mm
    else:
        return dd

In [10]:
data.date = data.date.apply(correct_date)
data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,30/11/1872,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,08/03/1873,England,Scotland,4.0,2.0,Friendly,London,England,False
2,07/03/1874,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,06/03/1875,England,Scotland,2.0,2.0,Friendly,London,England,False
4,04/03/1876,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
42364,27/06/2021,Venezuela,Peru,NaN,NaN,Copa Am√©rica,Brasilia,Brazil,True
42365,27/06/2021,El Salvador,Guatemala,NaN,NaN,Friendly,NaN,NaN,NaN
42366,28/06/2021,Argentina,Bolivia,NaN,NaN,Copa Am√©rica,Cuiaba,Brazil,True
42367,28/06/2021,Uruguay,Paraguay,NaN,NaN,Copa Am√©rica,Rio de Janeiro,Brazil,True
42368,30/06/2021,Mexico,Panama,NaN,NaN,Friendly,Nashville,United States,True

In [11]:
print('home_team',len(data.home_team.unique()))
print('away_team',len(data.away_team.unique()))
print('home_score',len(data.home_score.unique()))
print('away_score',len(data.away_score.unique()))
print('tournament',len(data.tournament.unique()))
print('away_team',len(data.away_team.unique()))
print('city', len(data.city.unique()))
print('country',len(data.country.unique()))

home_team 309
away_team 306
home_score 27
away_score 23
tournament 112
away_team 306
city 2051
267

In [12]:
data.describe()

         home_score    away_score
count  42353.000000  42353.000000
mean       1.744245      1.185843
std        1.753657      1.404751
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

## Question 1:

Analysis the performance of England & Canada team by historical Football Results (See Dataset)

In [48]:
shorlisted = ['England']

performance_shortlisted = data[data.home_team.isin(shorlisted) | data.away_team.isin(shorlisted)]
performance_shortlisted['team'] = 'England'
performance_shortlisted

/var/folders/qb/f181qjtn20n9hm_bnwgs0z7w0000gn/T/ipykernel_98775/3979986655.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_shortlisted['team'] = 'England'

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,team
0,30/11/1872,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,England
1,08/03/1873,England,Scotland,4.0,2.0,Friendly,London,England,False,England
2,07/03/1874,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,England
3,06/03/1875,England,Scotland,2.0,2.0,Friendly,London,England,False,England
4,04/03/1876,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,England
...,...,...,...,...,...,...,...,...,...,...
42129,02/06/2021,England,Austria,1.0,0.0,Friendly,London,England,False,England
42203,06/06/2021,England,Romania,1.0,0.0,Friendly,London,England,False,England
42296,13/06/2021,England,Croatia,1.0,0.0,UEFA Euro,London,England,False,England
42336,18/06/2021,England,Scotland,0.0,0.0,UEFA Euro,London,England,False,England
42354,22/06/2021,England,Czech Republic,NaN,NaN,UEFA Euro,London,England,False,England

In [49]:
performance_shortlisted['month'] = performance_shortlisted.date.apply(set_year,option='month')
performance_shortlisted['day'] = performance_shortlisted.date.apply(set_year,option='day')
performance_shortlisted['year'] = performance_shortlisted.date.apply(set_year,option='year')
performance_shortlisted

/var/folders/qb/f181qjtn20n9hm_bnwgs0z7w0000gn/T/ipykernel_98775/2722240424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_shortlisted['month'] = performance_shortlisted.date.apply(set_year,option='month')
/var/folders/qb/f181qjtn20n9hm_bnwgs0z7w0000gn/T/ipykernel_98775/2722240424.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_shortlisted['day'] = performance_shortlisted.date.apply(set_year,option='day')
/var/folders/qb/f181qjtn20n9hm_bnwgs0z7w0000gn/T/ipykernel_98775/2722240424.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_shortlisted['year'] = performance_shortlisted.date.apply(set_year,option='year')

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,team,month,day,year
0,30/11/1872,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,England,11,30,1872
1,08/03/1873,England,Scotland,4.0,2.0,Friendly,London,England,False,England,03,08,1873
2,07/03/1874,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,England,03,07,1874
3,06/03/1875,England,Scotland,2.0,2.0,Friendly,London,England,False,England,03,06,1875
4,04/03/1876,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,England,03,04,1876
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42129,02/06/2021,England,Austria,1.0,0.0,Friendly,London,England,False,England,06,02,2021
42203,06/06/2021,England,Romania,1.0,0.0,Friendly,London,England,False,England,06,06,2021
42296,13/06/2021,England,Croatia,1.0,0.0,UEFA Euro,London,England,False,England,06,13,2021
42336,18/06/2021,England,Scotland,0.0,0.0,UEFA Euro,London,England,False,England,06,18,2021
42354,22/06/2021,England,Czech Republic,NaN,NaN,UEFA Euro,London,England,False,England,06,22,2021

In [63]:
performance_shortlisted = performance_shortlisted.dropna()
performance_shortlisted

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,team,month,day,year,final_result,goal
0,30/11/1872,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,England,11,30,1872,Draw,0
1,08/03/1873,England,Scotland,4.0,2.0,Friendly,London,England,False,England,03,08,1873,Won,0
2,07/03/1874,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,England,03,07,1874,Draw,0
3,06/03/1875,England,Scotland,2.0,2.0,Friendly,London,England,False,England,03,06,1875,Draw,0
4,04/03/1876,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,England,03,04,1876,Draw,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42097,31/03/2021,England,Poland,2.0,1.0,FIFA World Cup qualification,London,England,False,England,03,31,2021,Won,0
42129,02/06/2021,England,Austria,1.0,0.0,Friendly,London,England,False,England,06,02,2021,Won,0
42203,06/06/2021,England,Romania,1.0,0.0,Friendly,London,England,False,England,06,06,2021,Won,0
42296,13/06/2021,England,Croatia,1.0,0.0,UEFA Euro,London,England,False,England,06,13,2021,Won,0
42336,18/06/2021,England,Scotland,0.0,0.0,UEFA Euro,London,England,False,England,06,18,2021,Draw,0

In [50]:
performance_shortlisted['final_result'] = 'Draw'

/var/folders/qb/f181qjtn20n9hm_bnwgs0z7w0000gn/T/ipykernel_98775/825750060.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_shortlisted['final_result'] = 'Draw'

In [51]:
performance_shortlisted['goal'] = 0

/var/folders/qb/f181qjtn20n9hm_bnwgs0z7w0000gn/T/ipykernel_98775/1412581386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  performance_shortlisted['goal'] = 0

In [62]:
performance_shortlisted

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,team,month,day,year,final_result,goal
0,30/11/1872,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False,England,11,30,1872,Draw,0
1,08/03/1873,England,Scotland,4.0,2.0,Friendly,London,England,False,England,03,08,1873,Won,0
2,07/03/1874,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False,England,03,07,1874,Draw,0
3,06/03/1875,England,Scotland,2.0,2.0,Friendly,London,England,False,England,03,06,1875,Draw,0
4,04/03/1876,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False,England,03,04,1876,Draw,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42129,02/06/2021,England,Austria,1.0,0.0,Friendly,London,England,False,England,06,02,2021,Won,0
42203,06/06/2021,England,Romania,1.0,0.0,Friendly,London,England,False,England,06,06,2021,Won,0
42296,13/06/2021,England,Croatia,1.0,0.0,UEFA Euro,London,England,False,England,06,13,2021,Won,0
42336,18/06/2021,England,Scotland,0.0,0.0,UEFA Euro,London,England,False,England,06,18,2021,Draw,0
42354,22/06/2021,England,Czech Republic,NaN,NaN,UEFA Euro,London,England,False,England,06,22,2021,Draw,0

In [61]:
performance_shortlisted[performance_shortlisted.home_team==performance_shortlisted.team, performance_shortlisted.home_score]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [58]:
performance_shortlisted.loc[(performance_shortlisted.home_team==performance_shortlisted.team) &  (performance_shortlisted.home_score > performance_shortlisted.away_score), 'final_result'] = 'Won'
performance_shortlisted.loc[(performance_shortlisted.home_team==performance_shortlisted.team) &  (performance_shortlisted.home_score < performance_shortlisted.away_score), 'final_result'] = 'Lost'
performance_shortlisted[performance_shortlisted.home_team==performance_shortlisted.team]['goal'] = performance_shortlisted[performance_shortlisted.home_team==performance_shortlisted.team][performance_shortlisted.home_score]


performance_shortlisted.loc[(performance_shortlisted.away_team==performance_shortlisted.team) &  (performance_shortlisted.home_score > performance_shortlisted.away_score), 'final_result'] = 'Lost'
performance_shortlisted.loc[(performance_shortlisted.away_team==performance_shortlisted.team) &  (performance_shortlisted.home_score < performance_shortlisted.away_score), 'final_result'] = 'Won'
performance_shortlisted[performance_shortlisted.away_team==performance_shortlisted.team]['goal'] = performance_shortlisted[performance_shortlisted.away_team==performance_shortlisted.team][performance_shortlisted.away_score]


performance_shortlisted

KeyError: "None of [Float64Index([0.0, 4.0, 2.0, 2.0, 3.0, 1.0, 7.0, 2.0, 5.0, 5.0,\n              ...\n              2.0, 4.0, 5.0, 0.0, 2.0, 1.0, 1.0, 1.0, 0.0, nan],\n             dtype='float64', length=1029)] are in the [columns]"

In [44]:
performance_shortlisted.tournament.unique()

array(['Friendly', 'British Championship', 'FIFA World Cup qualification',
       'FIFA World Cup', 'UEFA Euro qualification', 'UEFA Euro',
       'Rous Cup', 'USA Cup', 'Tournoi de France',
       'King Hassan II Tournament', 'UEFA Nations League'], dtype=object)

In [45]:
performance_by_tournament = performance_shortlisted.groupby(['team','tournament','final_result']).size()
performance_by_tournament = performance_by_tournament.reset_index()
performance_by_tournament['final_result'] = performance_by_tournament.groupby('tournament')[0].transform(lambda x: x/sum(x))

In [46]:
performance_by_tournament

       team                    tournament  final_result    0
0   England          British Championship      0.578740  147
1   England          British Championship      0.090551   23
2   England          British Championship      0.330709   84
3   England                FIFA World Cup      0.608696   42
4   England                FIFA World Cup      0.130435    9
5   England                FIFA World Cup      0.260870   18
6   England  FIFA World Cup qualification      0.591304   68
7   England  FIFA World Cup qualification      0.017391    2
8   England  FIFA World Cup qualification      0.391304   45
9   England                      Friendly      0.638955  269
10  England                      Friendly      0.076010   32
11  England                      Friendly      0.285036  120
12  England     King Hassan II Tournament      1.000000    2
13  England                      Rous Cup      0.750000    6
14  England                      Rous Cup      0.250000    2
15  England             Tournoi de France      0.333333    1
16  England             Tournoi de France      0.333333    1
17  England             Tournoi de France      0.333333    1
18  England                     UEFA Euro      0.617647   21
19  England                     UEFA Euro      0.176471    6
20  England                     UEFA Euro      0.205882    7
21  England       UEFA Euro qualification      0.601852   65
22  England       UEFA Euro qualification      0.046296    5
23  England       UEFA Euro qualification      0.351852   38
24  England           UEFA Nations League      0.500000    6
25  England           UEFA Nations League      0.250000    3
26  England           UEFA Nations League      0.250000    3
27  England                       USA Cup      0.666667    2
28  England                       USA Cup      0.333333    1

In [77]:
performance_by_tournament.groupby(['tournament', 'England_res'])

In [63]:
147 / (147+23+84)

0.5787401574803149

In [62]:
# performance_shortlisted
performance_by_tournament

                      tournament England_res    0  Res_Percent
0           British Championship        Draw  147     0.578740
1           British Championship        Lost   23     0.090551
2           British Championship         Won   84     0.330709
3                 FIFA World Cup        Draw   42     0.608696
4                 FIFA World Cup        Lost    9     0.130435
5                 FIFA World Cup         Won   18     0.260870
6   FIFA World Cup qualification        Draw   68     0.591304
7   FIFA World Cup qualification        Lost    2     0.017391
8   FIFA World Cup qualification         Won   45     0.391304
9                       Friendly        Draw  269     0.638955
10                      Friendly        Lost   32     0.076010
11                      Friendly         Won  120     0.285036
12     King Hassan II Tournament        Draw    2     1.000000
13                      Rous Cup        Draw    6     0.750000
14                      Rous Cup         Won    2     0.250000
15             Tournoi de France        Draw    1     0.333333
16             Tournoi de France        Lost    1     0.333333
17             Tournoi de France         Won    1     0.333333
18                     UEFA Euro        Draw   21     0.617647
19                     UEFA Euro        Lost    6     0.176471
20                     UEFA Euro         Won    7     0.205882
21       UEFA Euro qualification        Draw   65     0.601852
22       UEFA Euro qualification        Lost    5     0.046296
23       UEFA Euro qualification         Won   38     0.351852
24           UEFA Nations League        Draw    6     0.500000
25           UEFA Nations League        Lost    3     0.250000
26           UEFA Nations League         Won    3     0.250000
27                       USA Cup        Draw    2     0.666667
28                       USA Cup        Lost    1     0.333333

In [57]:
 / performance_shortlisted.groupby('tournament').size()

tournament
British Championship            254
FIFA World Cup                   69
FIFA World Cup qualification    115
Friendly                        421
King Hassan II Tournament         2
Rous Cup                          8
Tournoi de France                 3
UEFA Euro                        34
UEFA Euro qualification         108
UEFA Nations League              12
USA Cup                           3
dtype: int64

## Question 2:

What is the probability of of match result England 2 - 1 Canada in 30 Dec 2021?